* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff6f00;
}

img {
    width: 300px;
    height: auto;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-36 {
    font-size: 36px;
}

.fw-normal {
    font-weight: normal;
}

.fw-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.bg-primary {
    background-color: #ff6f00;
}

.bg-light {
    background-color: #ffa040;
}

.bg-dark {
    background-color: #c43e00;
}
